<h3 class="heading">これまでの記録</h3>
  <table class="table">
    <% @lists.each do |list| %>
      <thead>
        <tr>
          <th>タイトル</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to list.title, list_path(list.id) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
