<h3 class="heading">記録を作成</h3>
  <div class="container">
    <%= form_with model:@list do |f| %>
      <h5>タイトル</h5>
        <%= f.text_field :title %>
      <h5>内容</h5>
        <%= f.text_area :body %>
      <%= f.submit '記録' %>
  <% end %>
</div>