<h1>show</h1>
  <div>
    <p>タイトル:<%= @list.title %></p>
    <p>内容:<%= @list.body %></p>
    <!-- 年月日表示に変更 -->
    <p>記録日:<%= @list.created_at.strftime('%Y/%m/%d') %></p>
    <%= link_to "削除", list_path(@list), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </div>