<div class="container">
 <h1 class="heading">Java辞典</h1>
  <p class="text-center">学んだJavaの知識を記録しておく</p>
  <div class="text-center">
   <%= link_to "記録を作成", new_list_path, class: "btn btn-md btn-primary" %>
   <%= link_to "今までの記録", lists_path, class: "btn btn-ms btn-info" %>
  </div>
</div>